#header {
    display: flex;
    justify-content: center;
}

.container-page{
    border: solid lightgray;

}
.container-title-forecast {
    border: solid 1px lightgray;
}


.container-forecast {
    display: flex;
    justify-content: space-around;
}

.day-one {
    border: solid 1px lightgray;
    padding: 5em;
    margin: 5em;
    width: 10%;
}

.day-two {
    border: solid 1px lightgray;
    padding: 5em;
    margin: 5em;
    width: 10%;
}

.day-three {
    border: solid 1px lightgray;
    padding: 5em;
    margin: 5em;
    width: 10%;
}

.day-four {
    border: solid 1px lightgray;
    padding: 5em;
    margin: 5em;
    width: 10%;
}

.day-five {
    border: solid 1px lightgray;
    padding: 5em;
    margin: 5em;
    width: 10%;
}

.container-map {
    border: solid 1px lightgray;
    width: 800px;
    height: 600px;
}