
#header {
    display: flex;
    justify-content: center;
    color: #0c63e4;
}


.container-title-forecast {
    border: solid 1px lightgray;
}


.container-forecast {
    display: flex;
    justify-content: center;
    align-content: center;

}

.day-one {
    border: solid 1px lightgray;
    padding: 0;
    margin: 0;
}

.day-two {
    border: solid 1px lightgray;
    padding: 0;
    margin: 0;
}

.day-three {
    border: solid 1px lightgray;
    padding: 0;
    margin: 0;
}


.day-four {
    border: solid 1px lightgray;
    padding: 0;
    margin: 0;

}

.day-five {
    border: solid 1px lightgray;
    padding: 0;
    margin: 0;
}

.container-map {
    border: solid 1px lightgray;
    width: 800px;
    height: 600px;
}